html{
    position: relative;
    min-height: 100%;

}
body {
    background: #fafafa;
    padding-bottom: 200px;
}

.whitespace{
    height: 150px;
}
.form-container {
    background: #ffffff;
    padding: 20px;
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
}

.form-container.registrate {
    padding-bottom:8px;
}

.container-1 {
    /*margin-top: 150px;*/
    padding: 20px;
}

.logo {
    width: 195px;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
}

.logo-mobile {
    width: 160px
}

.phone-image {
    width: 100%;
    max-width: 380px;
}

footer {
    position: absolute;
    bottom: 0;
}

footer a {
    color: #00376b;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 15px;
    font-size: 12px;
}

.form-container, .descargas {
    max-width: 350px;
}

.copyright {
    color: #8e8e8e;
    margin-top: 10px;
    margin-bottom: 40px;
}

form {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

form input.form-control {
    background-color: #fafafa !important;
    font-size: 12px;
    padding: 20px 15px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #222222;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.line {
    width: 100px;
    border-top: 1px solid #dddddd;
}

.letra {
    color: #bbbbbb;
    padding-top: 4px;
    margin: 0 10px;
}

.facebook-link > a {
    display: block;
    margin-top: 25px;
    color: #385185 !important;
    font-size: 14px;
}

.facebook-link > a.font-small {
    font-size: 12px;
    margin-top: 15px;
}

a {
    text-decoration: none !important;
}
.fb-logo{
    width:20px;
    margin-right:10px
}